<%- include("partials/header.ejs") %>
<main class="d-flex justify-content-center mx-auto flex-column align-items-center">
    <% books.forEach(book => {%>
        <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-4">
                <img src= 'https://covers.openlibrary.org/b/isbn/<%=book.isbn%>-M.jpg' class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title"><%= book.title %></h5>
                  <p class="card-text"><%= book.author %></p>
                  <p class="card-text"><small class="text-body-secondary"><%= book.date.getDate()+"/"+(parseInt(book.date.getMonth())+1)+"/"+book.date.getFullYear() %>, <%= book.rating %></small></p>
                  <form action="/delete" method="post" class="">
                    <input type="hidden" name="id" value="<%= book.id %>">
                    <button type="submit" class="btn btn-danger">Delete book</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
    <%})%>
</main>
<%- include("partials/footer.ejs") %>